---
// Component imports and setup JavaScript go here!
import BaseLayout from "./BaseLayout.astro";
import { generateCategoryData } from "../utils/helpers.js";
import dayjs from "dayjs";

const { content } = Astro.props;
const allCategoriesData = generateCategoryData(content.categories);
---

<BaseLayout>
  <section class="py-10 px-4 sm:px-6 w-full mx-auto max-w-screen-2xl">
    <div class="flex flex-col text-center">
      <div class="">
        <div class="mb-6">
          {
            allCategoriesData.map((category) => (
              <a
                class="bg-zinc-100 px-3 py-1 rounded-full leading-1 text-sm font-medium hover:bg-zinc-200"
                href={`/blog/categories/${category.slug}/`}
              >
                {category.name}
              </a>
            ))
          }
        </div>

        <h1 class="text-5xl font-bold pb-8">{content.title}</h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl font-medium mb-8">{content.description}</p>
          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="flex flex-col items-center mb-8">
            <div class="">
              <img
                class="h-10 w-10 rounded-full flex justify-self-center"
                src=`/images/team/${content.authorUrl}.jpg`
                alt={content.author}
              />
            </div>
            <div>
              <a
                href=`/team/${content.authorUrl}/`
                class="text-md font-medium mb-1 capitalize"
                >{content.author}
              </a>
              <p class="text-sm">
                <time datetime={dayjs(content.date).format()}>
                  {dayjs(content.date).format("MMM D, YYYY")} — 1 minute read</time
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center flex justify-center">
        <figure>
          <img
            class="rounded-2xl"
            src={`/images/blog/${content.featuredImage}`}
            alt={content.featuredImageAlt}
          />
          <figcaption class="text-sm text-center mt-4">
            {content.featuredImageAlt}
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <article
    class="max-w-3xl mx-auto py-10 md:px-6 prose prose-zinc prose-xl px-4 sm:px-6"
  >
    <slot />
  </article>
</BaseLayout>
