---
// Component imports and setup JavaScript go here!
import BaseLayout from "./BaseLayout.astro";
import { generateTagData } from "../utils/helpers.js";
import dayjs from "dayjs";

const { content } = Astro.props;
const allTagsData = generateTagData(content.tags);
---

<BaseLayout title={`Coloring Page - ${content.title} | Color the World`}>
  <section class="py-10 px-4 sm:px-6 w-full mx-auto max-w-screen-2xl">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:basis-2/3">
        <div class="mb-6 flex justify-start gap-1.5">
          {
            allTagsData.map((tag) => (
              <a
                class="bg-zinc-100 px-3 py-1 rounded-full leading-1 text-sm font-medium hover:bg-zinc-200"
                href={`/coloring-pages/tags/${tag.slug}/`}
              >
                {tag.name}
              </a>
            ))
          }
        </div>
        <h1 class="text-6xl font-bold pb-8">{content.title}</h1>
        <p class="text-xl font-medium mb-4">{content.description}</p>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="flex">
          <div class="mr-4 flex-shrink-0 self-center">
            <img
              class="h-12 w-12 rounded-full"
              src={`/images/team/${content.authorImage}`}
              alt={content.author}
            />
          </div>
          <div>
            <a
              href={`/team/${content.authorUrl}`}
              class="text-md font-semibold mb-1 capitalize"
              >{content.author}
            </a>
            <p class="text-sm">
              <time datetime={dayjs(content.date).format()}>
                {dayjs(content.date).format("MMM D, YYYY")} — 1 minute read</time
              >
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:basis-1/2 text-center">
        <figure>
          <div class="flex justify-center">
            <img
              src={`/images/coloring-pages/${content.featuredImage}`}
              alt={content.featuredImageAlt}
            />
          </div>
          <figcaption class="text-sm">
            {content.featuredImageAlt}
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <article
    class="max-w-3xl mx-auto py-10 md:px-6 prose prose-zinc prose-xl px-4 sm:px-6"
  >
    <slot />
  </article>
</BaseLayout>
